.vscode/*
build/*
build_dyn/*
build_dyn_cuda/*
dist/*
cmake-build/*

*.so
*.py[cod]
*.egg-info
README.html
basic_tutoria.md

*results
python_tester/dynamic/results/
python_tester/dynamic_cuda/results/
python_tester/dynamic_lowiter/results/